<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">sixto es el mejor</p>
		<a class="panel-block">
			sixto es el mejor
		</a>
		<a class="panel-block">
			<p> Al final, no pude integrar correctamente las gemas, las migraciones fueron hechas al pie de la letra al igual que los pasos en el controller, no se que hice mal aun. ademas, la migracion de la gema simple_hashtag rompio el sistema de twittear. #F</p>
					
		</a>
		<a class="panel-block">
			sixto es el mejor
		</a>
		<a class="panel-block">
			sixto es el mejor
		</a>
		<a class="panel-block">
			sixto es el mejor
		</a>
		<a class="panel-block">
			sixto es el mejor
		</a>
	</nav>
</div>