<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">sixto es el mejor</p>
		<a class="panel-block">
			sixto es el mejor
		</a>
		<a class="panel-block">
			sixto es el mejor
		</a>
		<a class="panel-block">
			sixto es el mejor
		</a>
		<a class="panel-block">
			sixto es el mejor
		</a>
		<a class="panel-block">
			sixto es el mejor
		</a>
		<a class="panel-block">
			sixto es el mejor
		</a>
	</nav>
</div>